/* ORDINATEUR*/
@media screen and (min-width: 780px){

/*------------------------------------------------------------------------------------------------------------------>


/*ICI LE HEADER*/

.logo img{
    width: 70px;
    text-align: start;
}
#nav{
    height: 4rem;
}
h1{
    font-size: 35px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h2,h3{
    font-size: 30px;
    margin: 0;
    margin-bottom: 1rem;
}
/* p{
    font-size: 15px;

} */
.inscrire{
    display: initial;
}
.inscrire a{
    background-color: #0072D2;
    padding: .5rem;
    border-radius: 3px;
    text-decoration: none;
}
.identifier a{
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------>


/*ICI LE MAIN*/

.logo_accueil{
    text-align: start;
    margin-top: 10rem;
    margin-left: 4rem;
    position: absolute;
    width: 52%;
}
.offre h1, h2, p{
    text-align: start;
}
.offre p{
    padding-left: 0rem!important;
    padding-right: 0rem!important;
}
.titre_adaptable h2{
    margin-top: 5rem;
}
.divertissement{
    display: flex;
    align-items: center;
}
.divertissement:nth-child(2n+1){
    flex-direction: row-reverse;
}
.divertissement img{
    width: 50%;
}
.adaptable{
    flex-wrap: nowrap;
}
.offre{
    display: flex;
}
.fleche{
    display: none;
}
.banderole img{
    width: 90%;
    margin-top: 2rem;
}
.contenu{
    margin: 5rem;
}
.contenu p{
    text-align: start;
}
.banderole{
    display: block;
}
.image_accueil{
    display: none;
}
.image_accueil_ordi{
    display: block;
    position: relative;
}
.image_accueil_ordi img{
      width: 100%; 
}
.article{
    width: 50%;
}
.les_abonnements{
    display: flex;
}
hr{
    display: none;
}
/* .abonnement{
    margin-right: 10rem;
} */
.abonnement{
    justify-content: start;
}
.abonnement button{
    width: 11rem;
    margin-right: 0rem;
    margin-left: 0rem;
}
.p_offre{
    margin-top: 1rem;
}
.titre_adaptable h2{
    text-align: center;
}
.adaptable article ul li{
    margin: .5rem;
}


/*------------------------------------------------------------------------------------------------------------------>

/*ICI LE FOOTER*/

.logo_footer{
    margin-top: 4rem;
}
.logo_footer img{
    margin-bottom: 1rem;
}
.mentions p{
    font-size: 14px;
}
.mentions p a{
    color: #7d7b7b;
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------*/

#nav_bas_page{
    display: none;
}

}