/*MISE EN PLACE DE LA POLICE*/
@font-face {
    font-family: "Avenir-Roman";
    src: url("fonts/Avenir-Roman-12.woff");
}
/*ON UTILISE LA POLICE DANS LE BODY*/
body {
    font-family: "Avenir-Roman", serif;
    background-color: #040814;
}
p{
    text-align: center;
    color: #7d7b7b;
    font-size: 14px;
    margin-bottom: 3rem;
}
h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
h2,h3{
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 1rem;
}


/*------------------------------------------------------------------------------------------------------------------>

/* SMARTPHONE*/



/* ICI LE HEADER*/

#nav{
    background-color:#040814!important ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -68px;
    width: 100%;
    transition: top 0.3s; /* EFFET TRANSITOIRE: APPARITION DE LA NAV */
    z-index: 2;
}
.logo{
    margin: 1rem;
}
.logo img{
    width: 55px;
}
button{
    padding: 0;
    border: none;
}
.inscrire{
    display: none;
    margin: 1rem;
}
.inscrire a{
    background-color: #040814;
    color: white;
    text-decoration: none;
}
.identifier{
    margin: 1rem;
}
.identifier a{
    background-color: #040814;
    color: white;
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------>



/*ICI LE MAIN*/

.offre{
    text-align: center;
}
.offre p{
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    /* font-size: 9px; */
}
.offre img{
    width: 25%;
}
.offre hr{
    background-color: #7d7b7b;
    width: 80%;
    opacity: .5;
}
.p_offre{
    margin-top: 1rem;
}
.abonnement{
    display: inline-grid;
    justify-content: center;
    width: 80%;
}
.abonnement button{
    width: 14rem;
    height: 2rem;
    background-color: #0072D2;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    margin-right: auto;
    margin-left: auto;
}
.fleche img{
    width: 20px;
    margin: 2rem;
}
.logo_footer img{
    width: 70px;
}
.logo_accueil{
    margin-top: -4rem;
}
.banderole{
    display: none;
}
.image_accueil img{
    width: 100%;
    height: 100%;
}
.image_accueil_ordi{
    display: none;
}
.adaptable{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.adaptable article ul li{
    list-style: none;
    text-align: center;
    color: #7d7b7b;
    font-size: 14px;
    margin: .5rem;
}
.adaptable article ul{
    padding-left: 0;
}
.adaptable img{
    width: 100%;
}
article{
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
}
.divertissement{
    margin: 1rem;
}
.divertissement img{
    width: 100%;
}
.bouton{
    text-align: center;
}
span{
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/*------------------------------------------------------------------------------------------------------------------>



/*ICI LE FOOTER*/

footer{
    margin: 1rem;
}
.logo_footer{
    text-align: center;
}
.mentions{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mentions p{
    font-size: 11px;
    margin-bottom: 1rem;
}
.mentions p a{
    color: #7d7b7b;
    text-decoration: none;
}
.mentions img{
    width: 10px;
}
#nav_bas_page{
    text-align: center;
    background-color: rgba(4,8,20,0.5); /*LE RGBA NOUS PERMET DE METTRE L'ELEMENT EN TRANSPARENCE SANS AVOIR A METTRE UNE OPACITE, AINSI, LES ENFANTS N'HERITENT PAS DE L'OPACITE (ICI LE BOUTON)*/
    width: 100%;
    height: 3.5rem;
    position: fixed;
    transition: bottom 0.3s;
}
.inscription_bas_page{
    height: 2rem;
    border-radius: .2rem;
    margin: .5rem;
    padding: .5rem;
    background-color: #0072D2;
    color: white;
}






